const char* ssid     = "XXXXXXX";
const char* password = "XXXXXXXXXXX";

const char* host = "XXXXXXXXXXXXX"; # flask host

const char* user_key = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX";
const char* app_key = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX";
