const char* ssid     = "XXXXXXX";
const char* password = "XXXXXXXXXXX";

const char* host = "XXXXXXXXXXXXX"; # flask host
const char* ifttt = "maker.ifttt.com";
const char* ifttt_key = "XXXXXXXXXXXXXXXXXXXXXX";
